<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Sora&display=swap" rel="stylesheet">
    <title>Underwater species detector</title>
</head>
<body class="bg" >
    <div class="container">
        <div class="centered-element">
            <br><br><br><br>
          <h1>Underwater Species Detector</h1>
          
        </div>
    </div>

    <a href="/">
        <div class="home">
            <img src="Images/home.svg" alt="">
        </div>
    </a>


    <div style="text-align:center;">
        <video width="1000" height="650" controls>
            <source src="Videos/<%= resultsPath %>" type="video/mp4"/>
            <!-- fallback -->
            Your browser does not support the <code>video</code> element.
        </video>

        <h1>Count of fishes</h1>
        <h3>The Maximum,, Minimum and average number of Fishes seen in a frame are</h3>

    </div>

    <table class="center">
        <tr>
            <th>Species Name</th>
            <th>Maximum</th>
            <th>Minimum</th>
            <th>Average</th>
        </tr>

        <% for (let key in totalMaxCount) { %>
            <tr>
                <td> <%= key %> </td>
                <td> <%= totalMaxCount[key] %> </td>
                <td> <%= totalMinCount[key] %> </td>
                <td> <%= avgCount[key] %> </td>
            </tr>
        <% } %>
    </table>

    <br><br>
    
    <h1 style="text-align: center;">Species information</h1>
    
        <table class="center">
            <tr>
                <th>Name</th>
                <th>Scientific Name</th>
                <th>Scientific Classification</th>
                <th>Description</th>
                <th>Location</th>
            </tr>
            <% for(var species of info) { %>
                <tr>
                    <td> <%=species.Name %> </td>
                    <td> <%=species.ScientificName%> </td>
                    <td> Domain: <%=species.ScientificClassification.Domain%> <br>
                        Kingdom: <%=species.ScientificClassification.Kingdom%>  <br>
                        Phylum: <%=species.ScientificClassification.Phylum %> <br>
                        Class: <%=species.ScientificClassification.Class %> <br>
                        Family: <%=species.ScientificClassification.Family %> <br>
                        Genus: <%=species.ScientificClassification.Genus%>  <br>
                        Species: <%=species.ScientificClassification.Species%> </td>
                    <td> <%=species.Description %> </td>
                    <td> <%=species.Location %> </td>
                </tr>
            <% } %>
        </table>
        <br><br>

        <br><br>
    <footer class="design">
    </footer>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

</body>
</html>